## Ignore Visual Studio temporary files, build results, and
## user-specific files

# User-specific files
*.user
*.userosscache
*.suo
*.sdf
*.cache
*.log
*.pdb
*.dbmdl
*.opendb
*.VC.db

# Visual Studio profiler
*.vsp
*.vspscc
*.vssscc
*.psess

# Build results
bin/
obj/
Debug/
Release/
publish/
artifacts/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Other user-specific files
.vs/
*.swp
*.bak
*.pidb
*.svclog
*.scc

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Test results
TestResults/

# Coverage results
*.coverage
*.coveragexml

# Crash dumps
*.dmp

# NuGet Packages
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Local History
.localhistory/
