@model List<DaPazWebApp.Models.Arreglo>

@{
    ViewData["Title"] = "Catálogo";
    Layout = "_Layout";
}

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Catálogo</h1>
                </div>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</div>

<!-- Filtro por categoría -->
<div class="container">
    <div class="row align-items-center mt-3 mb-2">
        <div class="col"></div>
        <div class="col-auto">
            <select class="form-select" id="categoryFilter" style="min-width: 200px;">
                <option selected value="all">Categorías</option>
                <option value="tributos">Tributos</option>
                <option value="ramos">Ramos</option>
                <option value="arreglos florales">Arreglos florales</option>
            </select>

        </div>
    </div>
</div>

<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4 col-lg-3 mb-5 product-item-wrapper" data-category="@item.nombreCategoriaArreglo.ToLower()">
                    <a class="product-item" href="#">
                        <img src="@item.imagen" class="img-product product-thumbnail" />
                        <h3 class="product-title">@item.nombreArreglo</h3>
                        <p>Categoría: @item.nombreCategoriaArreglo</p>
                        <strong class="product-price">$@item.precio.ToString("F2")</strong>
                        <span class="icon-cross">
                            <img src="~/images/cross.svg" class="img-fluid" />
                        </span>
                    </a>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filter = document.getElementById('categoryFilter');
            const items = document.querySelectorAll('.product-item-wrapper');

            filter.addEventListener('change', function () {
                const selected = this.value;

                items.forEach(item => {
                    const category = item.getAttribute('data-category');

                    if (selected === 'all' || category === selected) {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });
    </script>
}