@model DaPazWebApp.Models.SubcategoriaProductoModel

@{
    ViewData["Title"] = "Agregar Subcategoría de Producto";
    Layout = "_Layout";
}

<div class="container" style="margin-top:35px; margin-bottom:135px">
    <div class="d-flex justify-between align-items-center encabezado-proveedores">
        <h2>Agregar Subcategoría</h2>
    </div>

    <form asp-action="AgregarSubcategoriasP" method="post">
        <div class="form-group">
            <label asp-for="nombreSubcategoriaProducto" class="control-label">Nombre de Subcategoría</label>
            <input asp-for="nombreSubcategoriaProducto" class="form-control" />
            <span asp-validation-for="nombreSubcategoriaProducto" class="text-danger"></span>
        </div>

        <div class="form-group">
    <label asp-for="idCategoriaProducto" class="control-label">Categoría</label>
    <select asp-for="idCategoriaProducto" class="form-control" asp-items="ViewBag.Categorias">
        <option value="">-- Seleccione una categoría --</option>
    </select>
    <span asp-validation-for="idCategoriaProducto" class="text-danger"></span>
</div>

        <br />

        <div class="d-flex justify-content-end gap-2 mt-4">
            <button type="submit" class="btn-guardar">Guardar</button>
            <a asp-action="ConsultarSubcategoriasP" class="btn-cancelar">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
